body{
    font-family: 'Playfair Display', serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.orange-color{
    color: orange;
}
p{
    text-align: justify;
}
.button{
    text-decoration:  none;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    background-image: linear-gradient( orange, tomato);
    
    
}

.first-banar{
background-image: url(img/top-banner.png);
background-repeat: no-repeat;
padding-bottom: 5%;
}
.second-banar{
    background-image: url(img/dream-bg.png);
background-repeat: no-repeat;
padding-bottom: 5%;
background-position: right top;
}
.second-banar p{
    padding-right: 10%;
}

.d-flex{
    display: flex;
}

.hafe-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.hafe-width img{
    width: 100%;
}


/* ------------------
     Media Quray 
-------------------- */
/* Smale Device */
@media only screen and (max-width:980px) {
    .d-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hafe-width img{
        width: 100%;
        padding-left: 5%;
        padding-top: 20%;
    }
   
}

/* Large Device */
@media only screen and (min-width:1150px) {
    .hafe-width img{
        width: 75%;
        padding-left: 30%;
    }
}

@media only screen and (min-width:1350px) {
    .hafe-width img{
        width: 65%;
        padding-left: 30%;
    }
    /* banar  */
    .second-banar{
        background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 5%;
    background-position: right top;
    }
}
@media only screen and (min-width:1650px) {
    .hafe-width img{
        width: 60%;
    }
}
